/* 弹窗样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border: 2px solid #1e90ff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(30, 144, 255, 0.2);
}

.modal-content {
    padding: 1.5rem;
    color: #004085;
    text-align: center;
}

.close {
    color: #004085;
    float: right;
    font-size: 20px;
    font-weight: 20;
    cursor: pointer;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: #002752;
    text-decoration: none;
}


.modal-body {
    padding: 1rem 0;
}


.modal-header {
    border-bottom: 1px solid #1e90ff;
    padding-bottom: 0.6rem; /* 调整细线下方的距离 */
    margin-bottom: 0.7rem; /* 调整头部与主体内容的间距 */
}

.modal-footer {
    border-top: 1px solid #1e90ff;
    padding-top: 0.6rem; /* 调整细线上方的距离 */
    margin-top: 0.7rem; /* 调整底部与主体内容的间距 */
}

.btn {
    padding: 0.5rem 1rem;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.6rem; /* 调整按钮与其上方元素的间距 */
    margin-bottom: 0.7rem; /* 调整按钮与其下方元素的间距 */
}

.btn:hover {
    background-color: #1c86ee;
}