<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link href=/static/css/index.css  rel=stylesheet>
</head>
<!--导航栏-->
<nav>
    <div class="nav-container">
        <div class="nav-item about">
            <a href="/about">关于</a>
        </div>
        <div class="nav-item index">
            <a href="/">首页</a>
        </div>
        <div class="nav-item profile">
            <a href="/my">我的</a>
        </div>
        <div class="nav-item favorites">
            <a href="/favorites">收藏</a>
        </div>
    </div>
</nav>

<body>
<div class="header">
    <h1>关于我们</h1>
</div>
<div class="container">
    <div class="card">
        <h1>小小清单简介</h1>
        <p>小小清单是一个简洁高效的任务管理工具，旨在帮助用户更好地管理日常任务和待办事项。通过清单，用户可以轻松添加、编辑和删除任务，设定截止日期和优先级，从而提高工作效率和生活质量。</p>
        <p>我们的目标是提供一个用户友好的平台，帮助每个人更好地组织自己的工作和生活，无论是个人事务还是团队协作，都能轻松应对。</p>
    </div>
    <div class="card">
        <h1>制作团队</h1>
        <div class="team-member">
            <h2>仵明雨</h2>
            <h4>登录功能</h4>
        </div>
        <div class="team-member">
            <h2>杨士涵</h2>
            <h4>注册功能</h4>
        </div>
        <div class="team-member">
            <h2>孙文乐</h2>
            <h4>用户信息修改</h4>
        </div>
        <div class="team-member">
            <h2>李铭伟</h2>
            <h4>显示待办列表</h4>
        </div>
        <div class="team-member">
            <h2>代宇航</h2>
            <h4>添加待办</h4>
        </div>
        <div class="team-member">
            <h2>马亿博</h2>
            <h4>删除待办</h4>
        </div>
    </div>
</div>
</body>
</html>
