<!DOCTYPE html><html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>小小清单</title>
<!--布局-上（Ler）-->
    <link href=/static/css/app.8eeeaf31.css rel=preload as=style>
    <!--主页面-->
    <link href=/static/css/chunk-vendors.57db8905.css rel=preload as=style>
    <link href=/static/js/app.007f9690.js rel=preload as=script>
    <link href=/static/js/chunk-vendors.ddcb6f91.js rel=preload as=script>
    <!--主页面-->
    <link href=/static/css/chunk-vendors.57db8905.css rel=stylesheet>
<!-- 布局-下（技术栈：GoLang + Gin + Gorm + MySQL）-->
<link href=/static/css/app.8eeeaf31.css rel=stylesheet>
<!--导航栏-->
    <link href=/static/css/index.css  rel=stylesheet>
</head>

<body>
<noscript>
    <strong>We're sorry but dsb doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<!--导航栏-->
<nav>
    <div class="nav-container">
        <div class="nav-item about">
            <a href="/about">关于</a>
        </div>
        <div class="nav-item index">
            <a href="/">首页</a>
        </div>
        <div class="nav-item profile">
            <a href="/my">我的</a>
        </div>
        <div class="nav-item favorites">
            <a href="/favorites">收藏</a>
        </div>
    </div>
</nav>

<div id=app></div>
<script src=/static/js/chunk-vendors.ddcb6f91.js></script>
<script src=/static/js/app.007f9690.js></script>
</body>
</html>